/* .App {
  text-align: center;
} */

/* .App{
  background: url(/src/imgs/wood.jpg) no-repeat center center fixed;
  background-size: cover;
  background: url(/src/imgs/wood.jpg) no-repeat;
  background-size:100%;
  min-height:100%;
} */

/* .search{
  padding-left:20px;
} */