/* .App {
  text-align: center;
} */

/* .App{
  background: url(/src/imgs/wood.jpg) no-repeat center center fixed;
  background-size: cover;
  background: url(/src/imgs/wood.jpg) no-repeat;
  background-size:100%;
  min-height:100%;
} */

/* .search{
  padding-left:20px;
} */

form .search-form .search{
  padding-left:30px;
}

.crud {
  display: none;
}

.icon-wrapper:hover .crud{
  display: inline-block;
}

#text:hover{
  background-color:lightskyblue;
  color:white;
  cursor:pointer;
}